<table class="table table-condensed table-hover">
<thead>
    <tr>
        <td>
            Pos
        </td>
        <td colspan="2">
            Team
        </td>
        <td>
            Pld
        </td>
        <td>
            GD
        </td>
        <td>
            Pts
        </td>
    </tr>
</thead>
<tbody>
    {%  for entry in table %}
        <tr {% if teamPage is defined and team.getId() == entry.getTeam().getId() %}
                class="info"
            {% endif %}>
            <td>
                {{ loop.index }}
            </td>
            <td colspan="2">
                {% if allTeamsHaveBadges %}
                    <img src="{{ asset('uploads/badges/' ~ entry.getTeam().getBadgeImage()) }}"
                         alt="club badge" width="30px" height="30px">
                    &nbsp;
                    <a href="{{ path('view_team', {'id': entry.getTeam().getId()}) }}">
                        {{ entry.getTeam().getDisplayName() }}
                    </a>
                {% else %}
                    <a href="{{ path('view_team', {'id': entry.getTeam().getId()}) }}">
                        {{ entry.getTeam().getDisplayName() }}
                    </a>
                {% endif %}
            </td>
            <td>
                {{ entry.getPlayed() }}
            </td>
            <td>
                {{ entry.getGoalDifference() }}
            </td>
            <td>
                {{ entry.getPoints() }}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>